.banner{
    height: 100vh;
    width: 100%;
    background: url('https://i.ibb.co/PWsDpC6/4192024-ai.png');
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center center;
    position: relative;
}
.banner-text{
    position: absolute;
    top: 30%;
  
}
.banner-text h1{
    font-size: 80px;
    font-weight: 700;
    color: #2c3046;
}
