body{
  background: #D1E2FB;
}
p{
  font-size: 18px;
  color: #333335;
}
a{
  text-decoration: none;
}
.title-logo{
  color: #0e85f5;
}
.title{
  color: #909090;
}
.background-image{
  background-size: cover;
  background-repeat: no-repeat; 
  background-position: center center;
}
.card{
  top: 0;
  transition: top 0.3s;
}

.card:hover{
  top: -16px;
}